<%- include("partials/header.ejs") %>

<div class="container">
    <div class="row">
        <div id="logo" class="col-lg-12">
            <img src="images/slam.svg" alt="logo">
        </div>
    </div>

    <a id="viewAll" href="/books">
        <button class="ui inverted button">View All</button>
    </a>
</div>


<%- include("partials/footer.ejs") %>